<%- include ('header') -%>

<center>
<h4>Account</h4>
<p>

<!-- Log out -->
  <form action="/logout" method="post">
    <a class="nav-link" href="/logout" class="logout" type="submit"><b>Log out</b></a>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  </form>

</p>
</center>

<%- include ('footer') -%>
