
<!-- Javascript -->
<script>
var username = "<%= (typeof user != 'undefined') ? user.username : '' %>";
var userid = "<%= (typeof user != 'undefined') ? user.id : '' %>";
</script>

<script src="javascripts/jquery-3.6.1.min.js"></script>
<script src="javascripts/main.js"></script>

</body>
</html>