
<!-- Javascript -->
<script>
var username = "<%= (typeof user != 'undefined') ? user.username : '' %>";
var userid = "<%= (typeof user != 'undefined') ? user.id : '' %>";
</script>

<script src="javascripts/jquery-3.6.1.min.js"></script>
<script src="javascripts/main.js"></script>
<footer style="text-align: center; padding: 10px; background-color: #00adf1; position: fixed; left: 0; bottom: 0; width: 100%;">
    Developed and Managed by CORDIO Ea GIS Lab &copy; 2024
  </footer>
  
</body>
</html>