<!DOCTYPE html>
<html lang="en">

<head>
  <title>Web App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/favicon.png" type="image/png"/>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="stylesheets/main.css" />
</head>

<body>

<nav class="navbar navbar-expand">

<div class="" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">

<h2 style="padding-right:20px">Web App</h2>

<li class="nav-item">
<a class="nav-link" href="/"><b>Home</b></a>
</li>

<li class="nav-item">
<a class="nav-link" href="/next"><b>Next</b></a>
</li>

<li class="nav-item">
<a class="nav-link" href="/about"><b>About</b></a>
</li>            

</ul>
</div>

</nav>

<br/>


