<!DOCTYPE html>
<html lang="en">

<head>
  <title>Web App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/favicon.png" type="image/png"/>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="stylesheets/main.css" />
</head>

<body>

<nav class="navbar-expand">

<div class="nav">

<ul class="navbar-nav">

<li>
<h4>App</h4>
</li>

<% if (typeof user != 'undefined') { %>

<li class="nav-item">
<a class="nav-link" href="/home"><b>Home</b></a>
</li>

<!-- Email -->
<li class="nav-item right">
<a class="nav-link" href="/account"><b><%= user.username %></b></a>
</li>

<% } else { %>

<!-- Log in -->
<li class="nav-item right">
<a class="nav-link" href="/login"><b>Log in</b></a>

<!-- Sign up -->
<a class="nav-link" href="/signup"><b>Sign up</b></a>
</li>

<% } %>

</ul>
</div>
</nav>
