<%- include ('header') -%>
<br>
<br>
<center>Welcome.</center>
<div class="intro-section" style="padding: 20px;">
    <p>
      Welcome to the Community Coral Reef Monitoring Portal, a dedicated platform designed to empower local communities, fisheries managers, and conservation practitioners across the Western Indian Ocean region. This portal serves as a vital resource for those committed to safeguarding the health of our coral reefs and the sustainability of our Localy Managed Marine conservation Areas (LMMAs). By fostering active community participation, this platform enables local stakeholders to take an active role in monitoring, managing, and preserving their marine resources.
    </p>
    <p>
      Our user-friendly interface provides communities with the tools and guidance they need to independently conduct coral reef and fisheries monitoring. Through simple yet effective data collection and analysis methods, communities can gain a deeper understanding of the state of their marine ecosystems, enabling them to make informed decisions and take actions that contribute to the resilience and sustainability of their livelihoods.
    </p>
    <p>
      Join us in this collective effort to protect and sustain the rich biodiversity of the Western Indian Ocean's coral reefs for future generations.
    </p>
  </div>
  
  <!-- views/add-user.ejs -->


<%- include ('footer') -%>